@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600&display=swap');

:root {
    background-color: #1e1e1e;
    font-family: 'Jura', sans-serif;
    color: white;
    overflow-x: hidden;
}